In [2]:
#variable declaration
name = "Sandhya"
print(type(name))
name = "Ramesh"
print(name)

<class 'str'>
Ramesh

In [15]:
name1 = input("Enter your name:")
print("Hello",name1)

Enter your name:Sandhya
Hello Sandhya

In [18]:
result = bool(input('is sandhya married:'))
print(result)
print(type(result))

is sandhya married:false
True
<class 'bool'>

In your usage, converting a string to a bool will not be a solution that will work. In Python, if you convert a string to a bool, for example: bool("False") the boolean value will be True, this is because if you convert a non-empty string to a bool it will always convert to True, but if you try to convert an empty string to a bool you'll get False.

In [17]:
result1 = input("is sandhya married? (yes/no)").lower().strip()=='yes'
print(result1)
print(type(result1))

is sandhya married? (yes/no)yes
True
<class 'bool'>

In [ ]:
Result is always bool;
Capitals are ignored;
True only if it contains yes and maybe some spaces;
Everything else equals to False;

In [32]:
# Type casting
x=2.44
print(type(x))
print(type(int(x)))
print(type(str(x)))
print((type(bool(x))))
y=bool(x)
print(y)

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
True

In [48]:
# string operations
string ="asfsdngi"
print(string[-7])
print('i am '+''+'happy')
print(string[2:7:2])
print("as" in string)
print(string*2)

s
i am happy
fdg
True
asfsdngiasfsdngi

In [70]:
#strip function
string1 = "   ***Sandya got a Job###   "
print(string1.upper())
print(string1.lower())
print(string1.strip())
print(string1.rstrip())
print(string1.strip().rstrip('#'))
print(string1.strip().lstrip('*').rstrip('#').upper())

   ***SANDYA GOT A JOB###
   ***sandya got a job###
***Sandya got a Job###
   ***Sandya got a Job###
***Sandya got a Job
SANDYA GOT A JOB

In [86]:
print(string1.split())
print(string1.split('a'))

['***Sandya', 'got', 'a', 'Job###']
['   ***S', 'ndy', ' got ', ' Job###   ']

In [78]:
#count function
print(string1.count('o'))
print(string1.count('o',-9))

2
1

In [81]:
age = 13
sex = "male"
name = "Raja"
print('I am {0} and I am a {1}year old {2} dog'.format(name,age,sex))

I am Raja and I am a 13year old male dog

In [94]:
tup1 = 1,2,'sai',0.99
tup = 1,
tup = (1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [111]:
print(tup1[2])
print(tup1[-2:])
tup_2 = tup + tup1
print(tup_2)
print(len(tup_2))
new_tup = tup_2[:4]+ ("shankar",)+tup_2[4:]
print(new_tup)
print(sum(tup))
print(type(new_tup[3]))

sai
('sai', 0.99)
(1, 1, 2, 'sai', 0.99)
5
(1, 1, 2, 'sai', 'shankar', 0.99)
1
<class 'str'>

In [11]:
tupe=3,2,4,2,3,45
x = sorted(tupe)
print(sorted(tupe))
print(tupe)
new_tupe = tuple(x)
print(new_tupe)
print(3 in new_tupe)

[2, 2, 3, 3, 4, 45]
(3, 2, 4, 2, 3, 45)
(2, 2, 3, 3, 4, 45)
True

In [113]:
(a,b,c,d,e,f) = new_tupe
print(a,b,f)
help(new_tupe)

2 2 45
Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
l = ['Ramesh',"Sharada",'Sandhya',"Sai",['raja','tara'],(2,'Sravs','Bals')]
print(l)
print(type(l))
print(type(l[-1]))
print(l[0:3])

['Ramesh', 'Sharada', 'Sandhya', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals')]
<class 'list'>
<class 'tuple'>
['Ramesh', 'Sharada', 'Sandhya']

In [125]:
l_1 = l + ['Venkatesh','Kumari']
print(l_1)
print("Sai" in l_1)

['Ramesh', 'Sharada', 'Sandhya', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']
True

In [3]:
l[2] = "married"
print(l)
l.extend(['Venkatesh','Kumari'])
print(l)
l.append(['Venkatesh','Kumari'])
print(l)
del(l[2])
print(l)

['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals')]
['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']
['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari', ['Venkatesh', 'Kumari']]
['Ramesh', 'Sharada', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari', ['Venkatesh', 'Kumari']]

In [9]:

print(l)
l.pop()
print(l)
l.remove('Sai')
print(l)

['Ramesh', 'Sharada', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals')]
['Ramesh', 'Sharada', 'Sai', ['raja', 'tara']]
['Ramesh', 'Sharada', ['raja', 'tara']]