In [9]:
#variable declaration
name = "Shankar"
print(type(name))
name = "Ramesh"
print(name)

<class 'str'>
Ramesh

In [10]:
name1 = input("Enter your name:")
print("Hello",name1)

Enter your name:sai
Hello sai

In [11]:
result = bool(input('is sandhya married:'))
print(result)
print(type(result))

is sandhya married:yes
True
<class 'bool'>

In your usage, converting a string to a bool will not be a solution that will work. In Python, if you convert a string to a bool, for example: bool("False") the boolean value will be True, this is because if you convert a non-empty string to a bool it will always convert to True, but if you try to convert an empty string to a bool you'll get False.

In [4]:
result1 = input("is sandhya married? (yes/no)").lower().strip()=='yes'
print(result1)
print(type(result1))

is sandhya married? (yes/no)yes
True
<class 'bool'>

Result is always bool;
Capitals are ignored;
True only if it contains yes and maybe some spaces;
Everything else equals to False;

In [13]:
# Type casting
x=2.44
print(type(x))
print(type(int(x)))
print(type(str(x)))
print((type(bool(x))))
y=bool(x)
print(y)

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
True

In [14]:
# string operations
string ="asfsdngi"
print(string[-7])
print('i am '+''+'happy')
print(string[2:7:2])
print("as" in string)
print(string*2)

s
i am happy
fdg
True
asfsdngiasfsdngi

In [15]:
#strip function
string1 = "   ***Sandya got a Job###   "
print(string1.upper())
print(string1.lower())
print(string1.strip())
print(string1.rstrip())
print(string1.strip().rstrip('#'))
print(string1.strip().lstrip('*').rstrip('#').upper())

   ***SANDYA GOT A JOB###
   ***sandya got a job###
***Sandya got a Job###
   ***Sandya got a Job###
***Sandya got a Job
SANDYA GOT A JOB

In [16]:
print(string1.split())
print(string1.split('a'))

['***Sandya', 'got', 'a', 'Job###']
['   ***S', 'ndy', ' got ', ' Job###   ']

In [17]:
#count function
print(string1.count('o'))
print(string1.count('o',-9))

2
1

In [18]:
age = 13
sex = "male"
name = "Raja"
print('I am {0} and I am a {1}year old {2} dog'.format(name,age,sex))

I am Raja and I am a 13year old male dog

In [19]:
tup1 = 1,2,'sai',0.99
tup = 1,
tup = (1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [20]:
print(tup1[2])
print(tup1[-2:])
tup_2 = tup + tup1
print(tup_2)
print(len(tup_2))
new_tup = tup_2[:4]+ ("shankar",)+tup_2[4:]
print(new_tup)
print(sum(tup))
print(type(new_tup[3]))

sai
('sai', 0.99)
(1, 1, 2, 'sai', 0.99)
5
(1, 1, 2, 'sai', 'shankar', 0.99)
1
<class 'str'>

In [21]:
tupe=3,2,4,2,3,45
x = sorted(tupe)
print(sorted(tupe))
print(tupe)
new_tupe = tuple(x)
print(new_tupe)
print(3 in new_tupe)

[2, 2, 3, 3, 4, 45]
(3, 2, 4, 2, 3, 45)
(2, 2, 3, 3, 4, 45)
True

In [22]:
(a,b,c,d,e,f) = new_tupe
print(a,b,f)
help(new_tupe)

2 2 45
Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [23]:
l = ['Ramesh',"Sharada",'Sandhya',"Sai",['raja','tara'],(2,'Sravs','Bals')]
print(l)
print(type(l))
print(type(l[-1]))
print(l[0:3])

['Ramesh', 'Sharada', 'Sandhya', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals')]
<class 'list'>
<class 'tuple'>
['Ramesh', 'Sharada', 'Sandhya']

In [24]:
l_1 = l + ['Venkatesh','Kumari']
print(l_1)
print("Sai" in l_1)

['Ramesh', 'Sharada', 'Sandhya', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']
True

In [25]:
l[2] = "married"
print(l)
l.extend(['Venkatesh','Kumari'])
print(l)
l.append(['Venkatesh','Kumari'])
print(l)
del(l[2])
print(l)

['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals')]
['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']
['Ramesh', 'Sharada', 'married', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari', ['Venkatesh', 'Kumari']]
['Ramesh', 'Sharada', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari', ['Venkatesh', 'Kumari']]

In [26]:

print(l)
l.pop()
print(l)
l.remove('Sai')
print(l)

['Ramesh', 'Sharada', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari', ['Venkatesh', 'Kumari']]
['Ramesh', 'Sharada', 'Sai', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']
['Ramesh', 'Sharada', ['raja', 'tara'], (2, 'Sravs', 'Bals'), 'Venkatesh', 'Kumari']

In [27]:
help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [45]:
a = {1,2,3,4,5,5}
print(len(a))
print(a)
a.add('sand')
print(a)
a.remove(1)
print(a)

5
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 'sand'}
{2, 3, 4, 5, 'sand'}

In [55]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print(A|B)
print(A.union(B))
print(A & B)
print(A.intersection(B))
print(A-B)
print(A.difference(B))
print(A^B)

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{2, 4}
{0, 8, 6}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

In [38]:
d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
print(d)
print(d["India"])
d['India'] = 'Rs'
print(d)
d["Japan"] = "Yen"
print(d)
del d['USA']
print(d)
print(sorted(d))
print(d.keys())
print(d.values())
print(d.items())

{'India': 'INR', 'USA': 'USD', 'France': 'Euros'}
INR
{'India': 'Rs', 'USA': 'USD', 'France': 'Euros'}
{'India': 'Rs', 'USA': 'USD', 'France': 'Euros', 'Japan': 'Yen'}
{'India': 'Rs', 'France': 'Euros', 'Japan': 'Yen'}
['France', 'India', 'Japan']
dict_keys(['India', 'France', 'Japan'])
dict_values(['Rs', 'Euros', 'Yen'])
dict_items([('India', 'Rs'), ('France', 'Euros'), ('Japan', 'Yen')])

In [7]:
x =  int(input("enter a number:"))
if x%2 == 0:
    print(x,"is even number")
else:
    print(x,"is odd number")

enter a number:4
4 is even number

In [14]:
age = int(input("Enter age :"))
if age <= 18 or age >= 60:
    print("wlecome to the party")
else:
    print("Your age does not fit for the party")

Enter age :56
Your age does not fit for the party

In [16]:
shoppinng_total = int(input('Your total bill'))

if shoppinng_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

Your total bill5900
You won a discount voucher of flat 1000 on next purchase

In [27]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}
year = int(input("Enter year to check"))
country = input("Enter country name to be checked")
if year in world_cups:
    if country in world_cups[year]:
        print("Hurray {} made to the finals in {}".format(country,year))
    elif country in world_cups.values():
        print("Sorry {} did not make to finals in {}".format(country,year))
    else:
        print("country is not available")
else:
    print("World cup was not played in {}".format(year))

Enter year to check200
Enter country name to be checkedIndia
World cup was not played in 200

In [39]:
i
print(i)

0

In [7]:
l=  ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
for i in l:
    print(i)

automobiles
Honda
Benz
Suzuki
Morris Garages

In [47]:
state = "Andhra Pradesh"
for i in state:
    print(i,end = ";")

A;n;d;h;r;a; ;P;r;a;d;e;s;h;

In [49]:
students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [23]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10] 
L3 = [0,1,2,3,4]
print(L3)
for i in L3:
    L3[i] = L1[i]-L2[i]
print(L3)
L3 = [L1[i] - L2[i] for i  in range(0, len(L1))]
print(L3)

[0, 1, 2, 3, 4]
[2, 6, 15, 4, 8]
[2, 6, 15, 4, 8]

In [72]:
i=0
while i<len(L1):
    print(L1[i]-L2[i],end=" ")
    i = i+1

2 6 15 4 8

In [66]:
print(range(1,10))
l = list(range(1,101))
print(l)
for i in range(1,11):
    print(i)

range(1, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1
2
3
4
5
6
7
8
9
10

In [9]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]
l2 = []
for i in l1:
    l2.append(len(i))
print(l2)

[11, 5, 4, 6, 14]

In [22]:
l2 = [len(i) for i in l1]
print(l2)

for i,j in zip(l1,l2):
    print(i," - ",j)

[11, 5, 4, 6, 14]
automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [45]:
def f(n,hi="Hi"):
    
    fact = 1
    for i in range(1,n+1):
        fact *=  i
    return fact,hi
    
f(n=5,hi ="ji")

(120, 'ji')

In [1]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10] 
def savings(l1,l2):
    
    l3 = [l1[i]-l2[i] for i in range(len(l1))]
    return l3
savings(L1,L2)

[2, 6, 15, 4, 8]

In [8]:
def sum(a,b):
    return a+b
print(sum(10,-9))

x = lambda y,z : y*z
x(2,3)

1

6

In [14]:
x = lambda y,z : "even" if (y+z) % 2 == 0 else "odd"
x(5,10)

'odd'

In [16]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [21]:
def mult(x):
    return x*2
samp_map = map(mult,list_numbers)
print(samp_map)
print(list(samp_map))

<map object at 0x000001C21282EC70>
[2, 4, 6, 8]

In [23]:
name = ['Harshit','Aman','Akash']
list(filter(lambda x : x.startswith("A"), name))

['Aman', 'Akash']

In [24]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6