# <p style="color:blue">Data Types </p>

In [1]:
int = 9
float = 1.32
string = "Sharada"
bollean = True

# <p style="color:blue">Arthmatic operations</p>
presedence rule = () > ** > // > % > / > * > + > -

 # <font color = blue> String Operations </font>
 -  Strings are immutable
 -  Indexing in String = string[index value] <br> can also be a negative value(reverse indexing)
 -  "+" is used to concatinate the strings
 -  Slicing in string = string[start:end:skip]
 -  Membership operator = "john" in string
 -  Repetation = string*4
 -  Strring methods :-
     -  string.upper()
     -  string.lower()
     -  string.lstrip().rstrip() or .strip("i")
     -  string.split(' ') <br> will return a list data type
     -  string.count('i',strating index)
     -  print('i am {0} years and {1} months old'.format(A,B) )<br>format function will take care of type casting
     -  more methods - help(str)

# <p style="color:blue"> Tuples </p>
-  tuples are immutable
-  indexing in tuples :- tup[index_value] <br>
    can also be reverse index
-  slicing in tuples :- tup[0:5] <br>
    return values in a tuple datatype
-  concatination is done by using "+"
-  tuples can be altered by slicing a tuple and concatinating to give a new tuple
-  packing and unpacking can be done with tuples <br>(a,b,c) = tup
-  membership operator >> 3 in tupe
-  sorted(tupe) >> returns list of sort elements <br> can be typecasted back to tuple (this is a function)
-  sum(),min(),max() >> returns int values
(a,b,c) = tup
-  Tuple methods:-
    -  print(dir(tup)) >> returns list of all functions of tuple
    -  help(tup) >> gives detailed functions of tuple

# <p style="color:blue"> Lists </p>
-  Lists are mutable <br> lis[2] = 'married' <br> del[2] >> deletes specified element
-  indexing in lists >> lis[index_value] <br>can also be reverse index
-  slicing in lists >> lis[start:end] <br> returns list
-  cocatination can be done by "+"
-  membership operator >> "sai" in lis
-  deep copy >> B = A >> points same address
-  shallow copy >>performed by end to end slicing and assigning <br> B = A[:] >> does not point the address but assigns new address
-  sorted(lis) >>returns list of sort elements 
-  List methods :-
    -  lis.extend() >> adds iterable elements individually
    -  lis.append() >> adds iterable elements as an object
    -  lis.pop(index) >> removes last object in list
    -  lis.remove(value) >> removes specified element
    -  lis.sort() >> sorts in place

# <p style="color:blue"> Sets </p>
-  Sets are mutabel <br> a.add(1)
-  sets are unordered so indexing and slicing are not possible
-  sets does not allow duplicates
-  set methods:-
    -  a.add(value) >> adds element
    -  a.remove(value) >> removes element
    -  a.union(b) >> union
    -  a.intersection(b) >> intersection
    -  a.difference(b) >> difference

# <p style="color:blue"> Dictoinaries </p>
-  Dictionary stores element as keys and values pairs.
-  keys are unique and immutable whereas values are mutable, immutable
-  keys act as index and can be used to access the value
-  d["India"] = "Rs" >> if key already present then value is updated or else it would be added to dic
-  del[key] >> deletes key as well as value
-  sorted(d) >> returns a list of sorted keys
-  Dictoinary methods:-
    -  d.keys() >> prints list all the keys
    -  d.values() >> prints list all the values
    -  d.items() >> prints list of all key value pairs
    -  d.update({key:value}) >> updates specified key
    -  d.get(3,"NA")

# <p style="color:blue"> Control Structures </p>
    1. Decision Making(if-else statements)
    2. Iteration for and while loops
    3. list and dictionary comprehensions
-  ## Decision Making(if-else statements)
    -  binary oparators >> a+b,a-b
        - relational operators >> used to compare values and return boolean value <br> 10 == 9 >> returns false
        -  logical operators >> combine multiple relational operators togather <br> include 'and','or','not'
    -  Tips: <br> When there is more than one condition to check, and you need to:
        1. Just return a boolean functionality, i.e., 'Yes' or 'No'; you use logical operators in a single if-else construct.
        2. Perform a different operation at each condition involving a single variable; you use an if-elif-else condition.
        3. Perform a different operation in each condition involving different variables; you use a nested if-else construct.
-  for and while loops
-  list and dictionary comprehensions

-  ## Iteration(for and while loops)
    1. counter driven(for):- used when no of iterations are known <br>>> iterates over fixed set of values provided in the form of iterable objects<br> >> Iterable objects can be generated using 'range()' function >> range(start,end,stepcount)<br> >> to print range of values range func can be converted into list or it can be traversed through for loop
        
    2. event based(while):- used when no of iterations are unknown

-  ## comprihension
    1. list comprihension<br>>>  l2 = [len(i) for i in l1]
    2. set comprihension<br>>>  vowels = {i for i in word if i in "aeiou"}
    3. dict comprihension<br>>>  d = {i : len(i) for i in l1}
## dataType = expression loops conditions

In [2]:
list1 = ["apple","banana","cherry","water melon"]
new_list =[]
for i in list1:
    if "a" in i:
        new_list.append(i)
print(new_list)

['apple', 'banana', 'water melon']

In [3]:
new_list = [i for i in list1 if 'a' in i]
new_list

['apple', 'banana', 'water melon']

In [4]:
dict1 = {i:i*i for i in range(1,10)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# <p style="color:blue"> Python functions</p>
    >> A block of organized, reusable code to perform a particulat action
-  buit-in functions >> print(), sorted(), input() etc
-  user-defined functions 
-  parameters >> variables used while defining the function
-  arguments >> values used while calling this function 
-  4 types of function paramenters
    1.  Required parameter >> max(lis),sorted(stri),..... <br> arguments should be passed while calling function
    2. Default arguments <br>not necesarry
    3. Keyword parameter >> print(lis,end=":") <br>while passing key word should be mentioned
    4. Variable length parameters>> fun(args,*args) <br> These enable the function to accept multiple arguments.
## def function_name(any number of parameters):<br>
###           return()

In [1]:
def my_fun(name,*name1):
    print("Hello {} {} welcome to gattu family".format(name,name1))
my_fun("sai","sharada","ramesh")
my_fun("sandhya")
my_fun("santosh")

Hello sai ('sharada', 'ramesh') welcome to gattu family
Hello sandhya () welcome to gattu family
Hello santosh () welcome to gattu family

In [5]:
def my_f(**dct1):
    """hello"""
    for i in dct1.items():
        print(i)
    print(dct1)
my_f(name = "Sai",age =20,location="Kosigi")

('name', 'Sai')
('age', 20)
('location', 'Kosigi')
{'name': 'Sai', 'age': 20, 'location': 'Kosigi'}

# <p style = "color : blue"> Lambda function </p>
## var = lambda parameters : expression
-  also called as anonymous functions since they don't have any name
-  here var holds function object and can be called with arguments

In [7]:
x = lambda x,y : (x+y)/2
x(2,4)

3.0

In [8]:
def myfunc1(x):
    return lambda y : x*y
f1 = myfunc1(4)
print(f1(2))

8

In [9]:
string = "PEifn HFoewf JLF:Jejf"
def myf(low):
    return low.lower()

y = lambda x:x.lower()
print(y(string))

peifn hfoewf jlf:jejf

## <p style = "color:blue" >Lambda with if conditions and for loops </p>
### var = lambda parameter : "output of if" if condition else "output of else" 
### var = lambda parameter : ["output" for loop]

In [10]:
f = lambda a,b : a if a>b else b #returns greater of both argumets
f(2,4)

4

In [8]:
list1 = [[1,4,2],[7,5,3],[9,8,5]]

sort_list = lambda list2 : [sorted(i) for i in list2]
print(sort_list(list1))

second_largest = lambda x,y : [i[len(i)-2] for i in y(x)]
res = second_largest(list1,sort_list)
print(res)

[[1, 2, 4], [3, 5, 7], [5, 8, 9]]
[2, 5, 8]

In [12]:
sorted(list(map(lambda x:x[len(x)-2],list1)))

[4, 5, 8]

# <p style = "color:blue" > map,filter,reduce functions  </p>
    1. map() 
    2. filter() 
    3. reduce()
1. map(function,iterable object)
    -  utility function in python
    -  maps a collection to another collection object  based on certain functionality
2. filter(function,iterable object)
    -  filters on certain condition
    -  the function object passed to the filter function should always return a boolean value
3. reduce(function,iterable object)
    -  the 'reduce' function produces a single output
    -  the function object passed to the reduce function decides what expression is passed to the iterable object.
    -  from functools import reduce
    -  function object should always have 2 parameters

In [13]:
list1=[1,2,3,4,9,8,4,5,6,77]
def square(x):
    return x*x
print(map(square,list1))
print(list(map(square,list1)))

<map object at 0x00000234EF90E9D0>
[1, 4, 9, 16, 81, 64, 16, 25, 36, 5929]

In [14]:
list(map(lambda x : x*x,list1))

[1, 4, 9, 16, 81, 64, 16, 25, 36, 5929]

In [15]:
list(filter(lambda x:x>=5,list1))

[9, 8, 5, 6, 77]

In [18]:
from functools import reduce
my_str = "Welcome you all to ta session on 9th 2022"
print("".join(list(map(lambda x:x.upper(),my_str))))
print(''.join(filter(lambda x:x.lower() not in ('a','e','i','o','u'),my_str)))
print(reduce(lambda x,y:x+y,range(1,10)))

WELCOME YOU ALL TO TA SESSION ON 9TH 2022
Wlcm y ll t t sssn n 9th 2022
45

In [17]:
class Employee:
    no_of_emp = 0
    raise_amount = 1.04
    terror = 'sandhya'
    def __init__ (self,first,last,pay):
        self.fname = first
        self.last = last
        self.pay = pay
        self.email = first+ '.' + last + '@company.com' 
        Employee.no_of_emp += 1
    def fullname(self):
        return '{} {}'.format(self.fname,self.last)
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount)
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay = emp_str.split('-')
        return (cls(first,last,pay))
        
        
emp_1 = Employee("sai","shankar",50000)
emp_2 = Employee("sharada","vani",100000)



emp_1.apply_raise()
print(emp_1.pay)
emp_2.raise_amount = 1.05
emp_2.apply_raise()
print(emp_2.pay)
str_emp1 = 'ramesh-gattu-200000'
new_emp1 = Employee.from_string(str_emp1)
print(new_emp1.email)

TypeError: 'int' object is not callable